{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
<div class="jumbotron">
    <div class="container-fluid">
      <h1 class="display-3">Create New Glimpse</h1>
      <p>Share your thoughts, experiences, and updates with your audience. <br>
          All posts will be displayed on the Glimpses page, blog page, and homepage.</p>
    </div>
</div>

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

{% if success %}
<p class="success">{{success}}</p>
{% endif %}

<script>
    function readurl(input){
        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#preview')
                .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
    }
</script>

<div class="container-fluid" style="margin-top: 20px;">
    <div class="card shadow" style="width: 100%; max-width: 1100px; margin: 0 auto; border:6px; border-radius: 25px; padding: 20px;">
    
    <div class="row no-gutters">
        <div class="col-md-5">
            <img src="/static/img/default-img.jpg" id="preview" width="100%" height="500" style="object-fit: cover; border-radius: 10px;">
        </div>
        <div class="col-md-7 pl-4">
            <form action='{{ url_for("post") }}' method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title"><strong>Title:</strong></label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter post title.." required>
                </div>
                
                <div class="form-group">
                    <label for="category"><strong>Category:</strong></label>
                    <select name="category" id="category" class="form-control" required>
                        {% for cat in categories %}
                        <option value="{{cat}}">{{cat}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="content"><strong>Content:</strong></label>
                    <textarea rows="10" class="form-control" id="content" name="content" placeholder="Write your post content here.." required></textarea>
                </div>
        
                <div class="form-group">
                    <label for="image"><strong>Upload Image (Optional)</strong></label>
                    <input type="file" id="image" name='img' onchange="readurl(this)" accept="image/*">
                </div>
            
                <button class="btn btn-primary btn-lg" type="submit">Publish Post</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
